<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Suave" version="0.33.0" targetFramework="net45" />
  <package id="WebSharper" version="3.6.2.220" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.1.115" targetFramework="net45" />
  <package id="WebSharper.Suave" version="3.6.1.22" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.2.196" targetFramework="net45" />
</packages>